<div class="container-fluid vh-100 d-flex align-items-center justify-content-center" 
style=" background-size: cover; background-position: center;">

    <div class="border rounded p-4 bg-white shadow" style="max-width: 400px; width: 100%;">
        <div class="alert alert-success" role="alert" *ngIf="showcodeInEmailPopup">
            <i class="bi bi-check-lg" ></i>
            Please check your email for the code
          </div>
      <h3 class="text-center mb-4"  *ngIf="activeMail">Forget Password</h3>
      <form (submit)="forget()" [formGroup]="signupForm"  *ngIf="activeMail" >
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" 
            [(ngModel)]="email"
          formControlName="emailFormControl"  placeholder="Enter your email" required>
          <span *ngIf="hassError">
            <h4
            id="emailError"
              [hidden]="emailFormControl.valid"
              class="form-text text-danger"
            >
              Please enter a valid email
            </h4>
          </span>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-dark">Verify</button>
        </div>
        <div class="text-center mt-3">
          <a href="/login" class="text-primary">Back to Login</a>
        </div>
      </form>

      <!-- <h3 class="text-center mb-4" *ngIf="activeCode">Verification Code</h3> -->
      <form (submit)="code()" [formGroup]="codeForm" *ngIf="activeCode" >

        <div class="mb-3">
          <label for="email" class="form-label">Verification Code</label>
          <input type="text" class="form-control" 
            [(ngModel)]="OTP"
          formControlName="codeFormControl"  placeholder="Code" required>
          <span *ngIf="hasCodeError">
            <h4
            id="codeError"
              [hidden]="codeFormControl.valid"
              class="form-text text-danger"
            >
              Please enter a code
            </h4>
          </span>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-dark">Proceed</button>
        </div>
        <div class="text-center mt-3">
          <a href="/login" class="text-primary">Back to Login</a>
        </div>


      </form>

      <h3 class="text-center mb-4" *ngIf="newpassword">Reset Password</h3>
      <form (submit)="reset()" [formGroup]="newpasswordForm" *ngIf="newpassword" >
        <div class="alert alert-danger" role="alert" *ngIf="hasCodeMatchError">
            <i class="bi bi-x-circle-fill"></i>
            Verification code does not match
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="resetPassError">
            <i class="bi bi-x-circle-fill"></i>
          Update failed ! Please contact admin to proceed.
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="hasPasswordMatchError">
            <i class="bi bi-x-circle-fill"></i>
            Password does not match
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="PasswordError">
            <i class="bi bi-x-circle-fill"></i>
            Provide the password
          </div>

        <div class="mb-3">
          <label for="oldPassword" class="form-label">Password</label>
          <input  class="form-control" 
         
          formControlName="Password"  placeholder="Password" required>
         
        </div>
        <div class="mb-3">
            <label for="op" class="form-label">Confirm Password</label>
            <input  class="form-control" 
           
            formControlName="cpassword"  placeholder="Confirm Password" required>
            
          </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-dark">Update</button>
        </div>
        <div class="text-center mt-3">
          <a href="/login" class="text-primary">Back to Login</a>
        </div>
      </form>


    </div>
  </div>
