<div class="mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Search Bill Number"
            aria-label="Search Bill#"
            aria-describedby="addon-wrapping"
            [(ngModel)]="searchFilter"
            (keyup)="searchItems()"
          />
          <span class="input-group-text" id="addon-wrapping">
            <button type="button"   
            (click)="searchItems()" class="btn btn-outline-primary">
              Search
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table table-responsive pt-1 child-div"  style="overflow-y: hidden;"
>

<div class="table table-responsive pt-1" 
style="max-height:600px; overflow:auto; border-radius: 10px; min-height: 600px; height: auto;  background-color: white;">
<div class="alert alert-light" style="font-weight: bold" role="alert">
Order History
</div>
<table class="table table-responsive" >
  <thead
    class="thead-light table-light"
    style="height: 50px; vertical-align: middle"
  >
    <tr>
      <th scope="col">Bill S/N</th>
      <th scope="col">Item</th>
      <th scope="col">Status</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Bill Date</th>
    
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr style="height: 50px; vertical-align: middle" *ngFor="let order of filteredOrders" >
      <th scope="row">{{order.billNumber}}</th>
      <td>{{order.itemName}}</td>
      <td>{{order.statusName}}</td>
      <td>{{order.quantity}}</td>
      <th scope="row">{{(this.order.codeOrderPrice).toFixed(2)}} {{this.order.orderCurrency}}</th>
      <td>{{order.orderDateTime}}</td>
   
    </tr>

  
  </tbody></table>

</div>