/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-image: url("/assets/imgs/bg.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body a {
  text-decoration: none !important;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

h5 {
  font-size: small;
  color: red !important;
}


.responsive-height {
  height: 90vh;
  /* background-color: aqua; */
}

@media (min-width: 768px) {
  .responsive-height {
      height: 75vh;
      /* background-color: rgb(32, 153, 68); */
  }
}

@media (min-width: 992px) {
  .responsive-height {
      height: 100vh;
      /* background-color: rgb(125, 128, 126); */
  }
}

.child-div {
background-color: white;
flex: 1;
height: 100%;  /* Ensure child div takes full height of the parent */
overflow: auto; /* Handle internal scrolling if content overflows */
box-sizing: border-box; /* Ensure padding and border are included in the height/width calculations */
}

